@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #caffcf 50%, #e7ffec 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
.bg3 {
    animation-duration: 5s;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.content {
    max-width: 1200px;
    margin: auto;
    margin-bottom: -100px;
    display: flex;
    flex-direction: column; /* Alteração: altera a direção do flex para coluna */
    align-items: flex-end;

    padding: 40px 60px;

    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 5px 0 rgba(68, 1, 8, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.logo {
    margin: auto;
    margin-bottom: 20px;
}
img.logo {
    width: 250px;
}
.text-info-vale {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -15px;
    margin-right: -20px;
    font-size: 16px;
    color: #444;
    background-color: #fff;
    box-shadow: 2px 1px #ccc;
    border-radius: 50%;
    height: 40px;
    padding: 0 5px;
    padding-top: 9px;
    z-index: 999;
}
.text-info-hoje {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -15px;
    margin-right: -20px;
    font-size: 16px;
    color: #888;
    background-color: #fff;
    box-shadow: 2px 1px #ccc;
    border-radius: 50%;
    height: 40px;
    padding: 0 3px;
    padding-top: 9px;
}
input.expand-input {
    display: flex;
    background-color: #f9f8f8;
    padding: 10px 5px;
    font-size: 50px;
    text-align: right;
    margin-left: 0.1em;
    border-radius: 0 10px 10px 0;
    transition-duration: 400ms;
    min-width: 150px;
    color: #444;
}
textarea:focus,
input:focus {
    outline: none;
}

.group-content {
    display: flex;
    margin-top: 20px;
}
.group {
    display: flex;
    align-items: center;
    background-color: rgb(236, 229, 216);
    border-radius: 10px;
    position: relative;
}
.group:first-of-type {
    margin-right: 30px;
}

.moeda {
    display: flex;
    align-items: center;
    height: 40%;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    color: #888;
}

.card {
    pointer-events: none;
    transform: translateZ(0);
    margin: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    position: relative;
}

.card:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 50%;
    left: 0;
    bottom: 40px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.6);
}
.footer {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 0.8em;
    color: #888;
}

.footer i {
    padding-right: 3px;
}

.footer a {
    text-decoration: none;
    background-color: #0ab144;
    padding: 3px 10px;
    border-radius: 25px;
    text-align: center !important;
    margin-left: 0px;
    margin-right: 5px;
    color: #1f1919;
}

.footer a:hover {
    animation: pulse2 1s infinite;
    animation-timing-function: linear;
    background-color: #0cd853;
}

@media (max-width: 800px) {
    .text-info-vale {
        font-size: 15px;
        transform: rotate(30deg);
    }
    .text-info-hoje {
        font-size: 15px;
        transform: rotate(30deg);
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .group:first-of-type {
        margin-right: 0px;
    }
    .group {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80px;
        width: 100%;
        position: relative;
    }
    .moeda {
        display: flex;
        align-items: center;
        min-width: 70px;
        font-size: 25px;
    }
    .expand-input {
        font-size: 30px !important;
    }
    input.expand-input {
        height: 80px;
        width: 9em;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .content {
        padding: 30px;
        width: 80%;
    }
    .group-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .group:first-of-type {
        margin-right: 0px;
    }
    .group {
    }
    img.logo {
        width: 180px;
    }
    .moeda {
        display: flex;
        align-items: left;
        min-width: 70px;
        font-size: 25px;
    }
    .expand-input {
        font-size: 25px !important;
    }
    input.expand-input {
        height: 80px;
        text-align: center;
        width: 100% !important;
    }
}

@media (max-width: 450px) {
    .content {
        width: 90%;
        background-color: transparent !important;
        box-shadow: 0 0px 0px 0 rgba(68, 1, 8, 0.1);
        border: 0 !important;
        transform: none !important;
    }
    .group:first-of-type {
        margin-right: 0px;
    }
    .moeda {
        display: flex;
        align-items: center;
        min-width: 70px;
        font-size: 25px;
    }
    .expand-input {
        font-size: 25px !important;
    }
    input.expand-input {
        height: 80px;
        text-align: center;
    }
}

@media (max-width: 350px) {
    .content {
        width: 100%;
        background-color: transparent !important;
        box-shadow: 0 0px 0px 0 rgba(68, 1, 8, 0.1);
        border: 0 !important;
        transform: none !important;
    }
    .group:first-of-type {
        margin-right: 0px;
    }
    .moeda {
        display: flex;
        align-items: center;
        min-width: 70px;
        font-size: 25px;
    }
    .group {
        height: 60px;
    }
    .expand-input {
        font-size: 20px !important;
    }
    input.expand-input {
        height: 60px;
        width: 90%;
        text-align: left;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}
